.container {
  max-width: 1100px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  margin-top: 14px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--light-color);
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  color: var(--active-color);
  font-size: 15px;
}

.btn-primary {
  background: url('/img/button.png') transparent no-repeat center center/cover;
  color: var(--active-color);
  padding: 14px 80px 14px 65px;
  font-weight: 700;
}

.btn-1 {
  background: #fddde4;
}

.btn-2 {
  background: #cdebbc;
}

.btn-3 {
  background: #d1e8f2;
}

.btn-4 {
  background: #cdd4f8;
}

.btn-5 {
  background: #f6dbf6;
}

.btn-5 {
  background: #fff2e5;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-light {
  background: var(--white-color);
  color: var(--dark-color);
  padding: 20px 35px;
  font-weight: 600;
}

.btn-main {
  background: var(--active-color);
  color: var(--white-color);
  padding: 15px 25px;
  font-weight: 600;
}

.btn-plain {
  background: none;
  color: var(--white-color);
  border: var(--white-color) solid 1px;
  padding: 15px 30px;
  font-weight: 600;
}

.btn:hover {
  opacity: 0.8;
}
